.header-row {
    height: 15%;
}

.scan-event-header {
    font-size: 2vw;
}

.sub-header {
    font-size: 1.5vw;
}

.scan-content {
    margin-top: 1vh;
}

.action-bar {
    margin-top: 5vh;
    height: 13vh;
}