<div *ngIf="bountyEvent != null">
    <div class="row">
        <div class="col-10">
            <div class="header scan-event-header">Bounty Claimed - {{bountyEvent.TotalReward}} CR</div>
        </div>
        <div class="col-2">
            <img style="height: 5vh;" class="right" src='assets/bounty.png'/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr/>
        </div>
    </div>
    <div class="row scan-content">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="sub-header center">Reward Breakdown</div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 offset-3">
                    <hr class="d-none d-md-block" />
                </div>
            </div>
            <div *ngFor="let reward of bountyEvent.Rewards">
                <div class="row">
                    <div class="col-6">
                        <div class="sub-header right">{{reward.Faction}}:</div>
                    </div>
                    <div class="col-6">
                        <div class="sub-header">{{reward.Reward}} CR</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row action-bar">
        <div class="col-12">
            <app-panel-button 
                [buttonLabel]="'$$Dismiss Scan Popup$$'" 
                (onButtonPressed)="close()">
            </app-panel-button>
        </div>
    </div>
</div>