<div class="filter-container">
    <div class="container-fluid screen">
        <mat-tab-group class="demo-tab-group">
            <mat-tab label="$$Tab 1$$">
                <div class='row' style="height: 10%;">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <span class="header left">$$Tab 1 Header 1$$</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-none d-md-block">
                                <hr align="right"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 20%; margin-top: 1%;">
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 1 Button 1"' [buttonLabel]='"$$Tab 1 Button 1$$"'></app-panel-button>
                    </div>
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 1 Button 2"' [buttonLabel]='"$$Tab 1 Button 2$$"'></app-panel-button>
                    </div>
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 1 Button 3"' [buttonLabel]='"$$Tab 1 Button 3$$"'></app-panel-button>
                    </div>
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 1 Button 4"' [buttonLabel]='"$$Tab 1 Button 4$$"'></app-panel-button>
                    </div>
                </div>
                <div class='row' style="height: 10%;">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <span class="header left">$$Tab 1 Header 2$$</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-none d-md-block">
                                <hr align="right"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 20%; margin-top: 1%;">
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 1 Button 5"' [buttonLabel]='"$$Tab 1 Button 5$$"'></app-panel-button>
                    </div>
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 1 Button 6"' [buttonLabel]='"$$Tab 1 Button 6$$"'></app-panel-button>
                    </div>
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 1 Button 7"' [buttonLabel]='"$$Tab 1 Button 7$$"'></app-panel-button>
                    </div>
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 1 Button 8"' [buttonLabel]='"$$Tab 1 Button 8$$"'></app-panel-button>
                    </div>
                </div>
                <div class='row' style="height: 10%;">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <span class="header left">$$Tab 1 Header 3$$</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-none d-md-block">
                                <hr align="right"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 20%; margin-top: 1%;">
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 1 Button 9"' [buttonLabel]='"$$Tab 1 Button 9$$"'></app-panel-button>
                    </div>
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 1 Button 10"' [buttonLabel]='"$$Tab 1 Button 10$$"'></app-panel-button>
                    </div>
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 1 Button 11"' [buttonLabel]='"$$Tab 1 Button 11$$"'></app-panel-button>
                    </div>
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 1 Button 12"' [buttonLabel]='"$$Tab 1 Button 12$$"'></app-panel-button>
                    </div>
                </div>

            </mat-tab>
            <mat-tab label="$$Tab 2$$">
                <div class='row' style="height: 10%;">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <span class="header left">$$Tab 2 Header 1$$</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-none d-md-block">
                                <hr align="right"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 20%; margin-top: 1%;">
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 2 Button 1"' [buttonLabel]='"$$Tab 2 Button 1$$"'></app-panel-button>
                    </div>
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 2 Button 2"' [buttonLabel]='"$$Tab 2 Button 2$$"'></app-panel-button>
                    </div>
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 3 Button 3"' [buttonLabel]='"$$Tab 3 Button 3$$"'></app-panel-button>
                    </div>
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 4 Button 4"' [buttonLabel]='"$$Tab 4 Button 4$$"'></app-panel-button>
                    </div>
                </div>
                <div class='row' style="height: 10%;">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <span class="header left">$$Tab 2 Header 2$$</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-none d-md-block">
                                <hr align="right"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 20%; margin-top: 1%;">
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 2 Button 5"' [buttonLabel]='"$$Tab 2 Button 5$$"'></app-panel-button>
                    </div>
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 2 Button 6"' [buttonLabel]='"$$Tab 2 Button 6$$"'></app-panel-button>
                    </div>
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 2 Button 7"' [buttonLabel]='"$$Tab 2 Button 7$$"'></app-panel-button>
                    </div>
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 2 Button 8"' [buttonLabel]='"$$Tab 2 Button 8$$"'></app-panel-button>
                    </div>
                </div>
                <div class='row' style="height: 10%;">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <span class="header left">$$Tab 2 Header 3$$</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-none d-md-block">
                                <hr align="right"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 20%; margin-top: 1%;">
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 2 Button 9"' [buttonLabel]='"$$Tab 2 Button 9$$"'></app-panel-button>
                    </div>
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 2 Button 10"' [buttonLabel]='"$$Tab 2 Button 10$$"'></app-panel-button>
                    </div>
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 2 Button 11"' [buttonLabel]='"$$Tab 2 Button 11$$"'></app-panel-button>
                    </div>
                    <div class="col-3 button-column">
                        <app-panel-button [buttonId]='"Tab 2 Button 12"' [buttonLabel]='"$$Tab 2 Button 12$$"'></app-panel-button>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>