<div class="filter-container">
	<div class="container-fluid screen">
		<div class='row' style="height: 10%;">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
    			        <span class="header left">$$Header 1$$</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-none d-md-block">
        			    <hr align="right"/>
                    </div>
                </div>
            </div>
		</div>
		<div class="row" style="height: 20%; margin-top: 1%;">
			<div class="col-3 button-column">
				<app-panel-button [buttonId]='"Button 1"' [buttonLabel]='"$$Button 1$$"'></app-panel-button>
			</div>
			<div class="col-3 button-column">
				<app-panel-button [buttonId]='"Button 2"' [buttonLabel]='"$$Button 2$$"'></app-panel-button>
			</div>
			<div class="col-3 button-column">
				<app-panel-button [buttonId]='"Button 3"' [buttonLabel]='"$$Button 3$$"'></app-panel-button>
			</div>
			<div class="col-3 button-column">
				<app-panel-button [buttonId]='"Button 4"' [buttonLabel]='"$$Button 4$$"'></app-panel-button>
			</div>
		</div>
		<div class='row' style="height: 10%;">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
    			        <span class="header left">$$Header 2$$</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-none d-md-block">
        			    <hr align="right"/>
                    </div>
                </div>
            </div>
		</div>
		<div class="row" style="height: 20%; margin-top: 1%;">
			<div class="col-3 button-column">
				<app-panel-button [buttonId]='"Button 5"' [buttonLabel]='"$$Button 5$$"'></app-panel-button>
			</div>
			<div class="col-3 button-column">
				<app-panel-button [buttonId]='"Button 6"' [buttonLabel]='"$$Button 6$$"'></app-panel-button>
			</div>
			<div class="col-3 button-column">
				<app-panel-button [buttonId]='"Button 7"' [buttonLabel]='"$$Button 7$$"'></app-panel-button>
			</div>
			<div class="col-3 button-column">
				<app-panel-button [buttonId]='"Button 8"' [buttonLabel]='"$$Button 8$$"'></app-panel-button>
			</div>
		</div>
		<div class='row' style="height: 10%;">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
    			        <span class="header left">$$Header 3$$</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-none d-md-block">
        			    <hr align="right"/>
                    </div>
                </div>
            </div>
		</div>
		<div class="row" style="height: 20%; margin-top: 1%;">
			<div class="col-3 button-column">
				<app-panel-button [buttonId]='"Button 9"' [buttonLabel]='"$$Button 9$$"'></app-panel-button>
			</div>
			<div class="col-3 button-column">
				<app-panel-button [buttonId]='"Button 10"' [buttonLabel]='"$$Button 10$$"'></app-panel-button>
			</div>
			<div class="col-3 button-column">
				<app-panel-button [buttonId]='"Button 11"' [buttonLabel]='"$$Button 11$$"'></app-panel-button>
			</div>
			<div class="col-3 button-column">
				<app-panel-button [buttonId]='"Button 12"' [buttonLabel]='"$$Button 12$$"'></app-panel-button>
			</div>
		</div>
	</div>
</div>