<div class="filter-container">
	<div class="container-fluid screen">
		<div class='row' style="height: 10%;">
			<span class="header left">$$Header_1$$</span>
			<hr/>
		</div>
		<div class="row" style="height: 20%">
			<div class="col button-column">
				<app-panel-button [buttonId]='"$$Button 1$$"'></app-panel-button>
			</div>
			<div class="col button-column">
				<app-panel-button [buttonId]='"$$Button 2$$"'></app-panel-button>
			</div>
			<div class="col button-column">
				<app-panel-button [buttonId]='"$$Button 3$$"'></app-panel-button>
			</div>
			<div class="col button-column">
				<app-panel-button [buttonId]='"$$Button 4$$"'></app-panel-button>
			</div>
		</div>
		<div class='row' style="height: 10%;">
			<span class="header left">$$Header_2$$</span>
			<hr/>
		</div>
		<div class="row" style="height: 20%">
			<div class="col button-column">
				<app-panel-button [buttonId]='"$$Button 5$$"'></app-panel-button>
			</div>
			<div class="col button-column">
				<app-panel-button [buttonId]='"$$Button 6$$"'></app-panel-button>
			</div>
			<div class="col button-column">
				<app-panel-button [buttonId]='"$$Button 7$$"'></app-panel-button>
			</div>
			<div class="col button-column">
				<app-panel-button [buttonId]='"$$Button 8$$"'></app-panel-button>
			</div>
		</div>
		<div class='row' style="height: 10%;">
			<div class="col">
				<div class="divider">
					<hr class="left"/>$$Header_3$$<hr class="right"/>
				</div>
			</div>
		</div>
		<div class="row" style="height: 20%;">
			<div class="col button-column">
				<app-panel-button [buttonId]='"$$Button 9$$"'></app-panel-button>
			</div>
			<div class="col button-column">
				<app-panel-button [buttonId]='"$$Button 10$$"'></app-panel-button>
			</div>
			<div class="col button-column">
				<app-panel-button [buttonId]='"$$Button 11$$"'></app-panel-button>
			</div>
			<div class="col button-column">
				<app-panel-button [buttonId]='"$$Button 12$$"'></app-panel-button>
			</div>
		</div>
	</div>
</div>