.header-row {
    height: 15%;
}

.scan-event-header {
    font-size: 2vw;
}

.sub-header {
    font-size: 1.5vw;
    white-space: nowrap;

}

.scan-content {
    margin-top: 1vh;
}

.action-bar {
    margin-top: 5vh;
    height: 13vh;
}

.warring {
    color: red;
    text-shadow: 0px 0px 10px red;
}