<div *ngIf="systemInfo != null">
    <div class="row">
        <div class="col-10">
            <div class="header scan-event-header">Arriving at {{systemInfo.StarSystem}}</div>
        </div>
        <div class="col-2">
            <img style="height: 5vh;" class="right" src='assets/star.png'/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr/>
        </div>
    </div>
    <div class="row scan-content">
        <div class="col-5">
            <div class="row">
                <div class="col-12">
                    <div class="sub-header center">System Info</div>
                    <hr class="d-none d-md-block" />
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="sub-header right">Government:</div>
                </div>
                <div class="col-6">
                    <div class="sub-header">{{systemInfo.SystemGovernment_Localised}}</div>
                </div>
            </div>
            <div class="row">
           		<div class="col-6">
           			<div class="sub-header right">Economy:</div>
           		</div>
           		<div class="col-6">
           			<div class="sub-header">{{systemInfo.SystemEconomy_Localised}}</div>
           		</div>
           	</div>
            <div class="row">
                <div class="col-6">
                    <div class="sub-header right">Allegiance:</div>
                </div>
                <div class="col-6">
                	<div class="sub-header" *ngIf="systemInfo.SystemAllegience == ''">None</div>
                    <div class="sub-header" *ngIf="systemInfo.SystemAllegience != ''">{{systemInfo.SystemAllegiance}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="sub-header right">State:</div>
                </div>
                <div class="col-6">
                	<div class="sub-header" *ngIf="systemInfo.ControllingFaction == null">None</div>
                    <div class="sub-header" *ngIf="systemInfo.ControllingFaction != null">{{systemInfo.ControllingFaction.FactionState}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="sub-header right">Security:</div>
                </div>
                <div class="col-6">
                    <div class="sub-header">{{systemInfo.SystemSecurity_Localised}}</div>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-12">
                    <div class="sub-header center">Factions</div>
                    <hr class="d-none d-md-block" />
                </div>
            </div>
            <div *ngIf="systemInfo.Factions == null || systemInfo.Factions.length == 0">
            	<span class="warring">No Factions In System</span>
            </div>
            <div *ngIf="systemInfo.Factions != null && systemInfo.Factions.length > 0">
	            <div *ngFor="let faction of systemInfo.Factions">
	                <div class="row">
	                    <div class="col-9 right">
	                        <div class="sub-header" [class.warring]="faction.FactionState.indexOf('War') >= 0">{{faction.Name | capitalize}}:
	                        </div>
	                    </div>
	                    <div class="col-3 left">
	                        <div class="sub-header ">{{faction.Influence | number:'1.0-2'}}%</div>
	                    </div>
	                </div>
	            </div>
            </div>
        </div>
    </div>
    <div class="row action-bar">
        <div class="col-12">
            <app-panel-button 
                [buttonLabel]="'$$Dismiss Scan Popup$$'" 
                (onButtonPressed)="close()">
            </app-panel-button>
        </div>
    </div>
</div>