@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
	position: fixed;
	overflow: hidden;
}
/* You can add global styles to this file, and also import other style files */
body {
	background-color: black;
	height: 100vh;
	width: 100vw;
	overflow-y: hidden;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;	
}

.glow {
    -webkit-box-shadow: inset 0px 0px 28px -1px rgba(255,113,0,1);
    -moz-box-shadow: inset 0px 0px 28px -1px rgba(255,113,0,1);
    box-shadow: inset 0px 0px 28px -1px rgba(255,113,0,1);
}

.header {
    color: rgba(255, 113, 0, 1) !important;
    font-size: 3vw;
    text-shadow: 0px 0px 10px rgba(255, 113, 0, 1);
}

.sub-header {
    font-size: 2vw;
    color: rgba(255, 113, 0, 1);
    text-shadow: 0px 0px 10px rgba(255, 113, 0, 1);
}

.small-header {
    font-size: 1.3vw;
    color: rgba(255, 113, 0, 1);
    text-shadow: 0px 0px 10px rgba(255, 113, 0, 1);
}

hr {
    border-color: rgba(255, 113, 0, 1) !important;
    -webkit-box-shadow: 0px 0px 15px .5px rgba(255,113,0,1);
    -moz-box-shadow: 0px 0px 15px .5px rgba(255,113,0,1);
    box-shadow: 0px 0px 15px .5px rgba(255,113,0,1);
}

.left {
   
    float: left;
   
}

.right {
    float: right;
}

.center {
    text-align: center;
}


/* DIALOG OVERRIDES */
.mat-dialog-container {
    background-color: rgba(0, 0, 0, .95) !important;
    background: linear-gradient(rgba(241, 88, 19, 0) 50%, rgba(197, 69, 12, 0.10) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.16), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
    -webkit-box-shadow: inset 0px 0px 28px -1px rgba(255,113,0,1) !important;
    -moz-box-shadow: inset 0px 0px 28px -1px rgba(255,113,0,1) !important;
    box-shadow: inset 0px 0px 28px -1px rgba(255,113,0,1) !important;
    border-radius: 15px !important;
}


.mat-tab-body-wrapper {
    height: 100%;
}

.demo-tab-group {
  height: 100%;
}

.mat-tab-label {
    background-color: rgba(255, 113, 0, .15) !important;
    opacity: 1 !important;
    color: rgba(255, 113, 0, 1) !important;
    height: 80%;
    border: 1px solid #c3611f;
    border-bottom: none;
    font-size: 2vw;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 10vh;
    min-height: 6vh;
}

.mat-tab-list {
    border-bottom: 2px solid #c3611f;
}

.mat-tab-label-active {
    -webkit-box-shadow: inset 0px 0px 28px -1px rgba(255,113,0,1);
    -moz-box-shadow: inset 0px 0px 28px -1px rgba(255,113,0,1);
    box-shadow: inset 0px 0px 28px -1px rgba(255,113,0,1);
}

.mat-ink-bar {
    display: none;
}

.mat-tab-body {
    padding-top: 3vh;
}

.mat-tab-body-content {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.mat-simple-snackbar {
    color: rgba(255, 113, 0, 1) !important;
    font-size: 1.5vw;
    text-shadow: 0px 0px 10px rgba(255, 113, 0, 1);
    float: right;
}

.mat-snack-bar-container.mat-snack-bar-top
{
    margin: 0;
    background: none;
}


.mat-progress-bar-fill:after
{
    background-color: rgba(255, 113, 0, 1) !important;
}

.mat-progress-bar-element 
{
    background-color: rgb(135, 54, 0);
}